@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=IBM+Plex+Sans:wght@100;400;700&display=swap');

*{
    margin: 0;
}

:root{
    --primary-color: #F3CF34;
    --background-color: #12161C;
    --up-variation-color: #4fb64a;
    --down-variation-color: #f55a5f;
    --texts-color: rgb(145, 145, 145);
    --title-colors: #12161C; 
}


html {
  scroll-behavior: smooth;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-x: hidden;
    background-color: #eaeaea;
}

.container{
    display: flex;
    flex-direction: row;
}

.perfil .username{
    margin-right: 20px;
    font-weight: bold;
}

.perfil .foto{
    margin-right: 10px;
}

.logout{
    background: none;
    border: none;
    cursor: pointer;
}

.logout svg{
    stroke: #F3CF34;
    width: 30px;
    height: 30px;
    stroke-width: 2;
}

.container-sidebar{
    position: fixed;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;

}



.container-sidebar .logo strong{
    color: #F3CF34;
    font-weight: 700;
    font-size: 30px;
}

.container-sidebar .logo a{
    text-decoration: none;
    color: #ddd;
    font-weight: 700;
    font-size: 30px;
    font-weight: bold;
}


.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu a{
    color: var(--texts-color);
    text-decoration: none;
    margin: 10px;
}

.menu-links{
    display: flex;
    align-items: center;
    width: 100px;
}

.container-content{
    width: 100%;
    margin-left: 170px;
}

.perfil{
    display: flex;
    align-items: center;
    color: #FFF;
}

.main{
    background-color: #eaeaea;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    height: 79vh;
}

.addstock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addstock input[type="text"]{
    border: 1px solid var(--background-color);
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 10px;
}

.addstock input[type="submit"]{
    border: none;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.container-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cards{
    display: flex;
    justify-content: center;
}

.card-up{
    background-color: #fff;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    border-left: 4px solid var(--up-variation-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    text-align: center;
    min-width: 200px;
    max-height: 190px;
}

.card-down{
    background-color: #fff;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    border-left: 4px solid var(--down-variation-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    text-align: center;
    min-width: 200px;
    max-height: 190px;
}

.card-up:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
}

.card-down:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
}

.card-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

}

.date{
    color: var(--texts-color);
    text-align: center;
    margin-top: 20px;
}

.price{
    font-size: 2em;
}

.card-up .variation{
    background-color: var(--up-variation-color);
    align-self: flex-end;
    padding: 5px;
    border-radius: 5px;
}

.card-down .variation{
    background-color: var(--down-variation-color);
    align-self: flex-end;
    padding: 5px;
    border-radius: 5px;
}


#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #d4b112; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}
 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}