@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=IBM+Plex+Sans:wght@100;400;700&display=swap');

*{
    margin: 0;
}

:root{
    --primary-color: #F3CF34;
    --background-color: #292F45;
    --up-variation-color: #08b700;
    --down-variation-color: #fd4046;
    --texts-color: rgb(145, 145, 145);
    --title-colors: #12161C; 
}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-x: hidden;
    background-color: #171E31;
}

.container{
    display: flex;
    flex-direction: row;
}

.perfil .username{
    margin-right: 20px;
    font-weight: bold;
}

.perfil .foto{
    margin-right: 10px;
}

.logout{
    background: none;
    border: none;
    cursor: pointer;
}

.logout svg{
    stroke: #F3CF34;
    width: 30px;
    height: 30px;
    stroke-width: 2;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    margin: 5px 10px 0px 220px;
}

#list{
    margin-top: 20px;
    color: #FFF;
}

.logo{
    text-align: center;
    margin-top: 15px;
}

.container-sidebar{
    position: fixed;
    height: 98vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}



.container-sidebar .logo strong{
    color: #F3CF34;
    font-weight: 700;
    font-size: 30px;
    
}

.container-sidebar .logo a{
    text-decoration: none;
    color: #ddd;
    font-weight: 700;
    font-size: 30px;
    font-weight: bold;
    
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 18px;
    background-color: #171E31;
    margin: 10px;
    border-radius: 10px;
}
  
.btn a{
    text-decoration: none;
    color: #FFF;
    font-weight: lighter;
}



.container-content{
    width: 100%;
}

.perfil{
    display: flex;
    align-items: center;
    color: #FFF;
}

.main{
    background-color: #171E31;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    height: 79vh;
    margin-left: 200px;
}

.addstock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addstock p{
    text-align: center;
    margin-top: 10px;
}

.addstock a{
    color: var(--texts-color);
    cursor: pointer;
}

.addstock input[type="text"]{
    border: 1px solid var(--background-color);
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

input[type="submit"]{
    border: none;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.container-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cards{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.card-up{
    position: relative;
    background-color: #292f45;
    color: #FFF;
    padding: 2rem;
    margin: 1rem 1rem 2em 1em;
    border-radius: 10px;
    border-left: 4px solid var(--up-variation-color);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    transition: all .5s cubic-bezier(.25,.8,.25,1);
    text-align: center;
    min-width: 200px;
    max-height: 190px;
}

.card-up form button{
    position: absolute;
    background: none;
    border: none;
    top: 10px;
    right: 10px;
    font-size: 26px;
    color: #ddd;
    cursor: pointer;
}


.card-down{
    position: relative;
    background-color: #292f45;
    color: #FFF;
    padding: 2rem;
    margin: 1rem 1rem 2em 1em;
    border-radius: 10px;
    border-left: 4px solid var(--down-variation-color);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    transition: all .5s cubic-bezier(.25,.8,.25,1);
    text-align: center;
    min-width: 200px;
    max-height: 190px;
}

.card-down form button{
    position: absolute;
    background: none;
    border: none;
    top: 10px;
    right: 10px;
    font-size: 26px;
    color: #ddd;
    cursor: pointer;
}



.card-up:hover{
    box-shadow: 0 14px 28px rgba(100, 100, 100, 0.048),0 10px 10px rgba(105, 105, 105, 0.096);
    transform: scale(1.05);
}

.card-down:hover{
    box-shadow: 0 14px 28px rgba(100, 100, 100, 0.048),0 10px 10px rgba(105, 105, 105, 0.096);
    transform: scale(1.05);
}

.card-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

}

.date{
    color: var(--texts-color);
    text-align: center;
    margin-top: 20px;
}

.price{
    font-size: 2em;
}

.card-up .variation{
    background-color: var(--up-variation-color);
    align-self: flex-end;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.card-down .variation{
    background-color: var(--down-variation-color);
    align-self: flex-end;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.card-down img{
    width: 10px;
}

.card-up img{
    width: 10px;
}

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #d4b112; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}
 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}