@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=IBM+Plex+Sans:wght@100;400;700&display=swap');

*{
    margin: 0;
}

:root{
    --primary-color: #F3CF34;
    --background-color: #292F45;
    --up-variation-color: #08b700;
    --down-variation-color: #fd4046;
    --texts-color: rgb(145, 145, 145);
    --title-colors: #12161C; 
}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-x: hidden;
    background-color: #171E31;
}

.container{
    display: flex;
    flex-direction: row;
}

.perfil .username{
    margin-right: 20px;
    font-weight: bold;
}

.perfil .foto{
    margin-right: 10px;
}

.logout{
    background: none;
    border: none;
    cursor: pointer;
}

.logout svg{
    stroke: #F3CF34;
    width: 30px;
    height: 30px;
    stroke-width: 2;
}


header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    margin: 5px 10px 0px 195px;
}

#list{
    margin-top: 20px;
    color: #FFF;
}

.logo{
    text-align: center;
    margin-top: 15px;
}

.container-sidebar{
    position: fixed;
    height: 98vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}



.container-sidebar .logo strong{
    color: #F3CF34;
    font-weight: 700;
    font-size: 30px;
    
}

.container-sidebar .logo a{
    text-decoration: none;
    color: #ddd;
    font-weight: 700;
    font-size: 30px;
    font-weight: bold;
    
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 18px;
    background-color: #171E31;
    margin: 10px;
    border-radius: 10px;
}
  
.btn a{
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 100;
}



.container-content{
    width: 100%;
}

.perfil{
    display: flex;
    align-items: center;
    color: #FFF;
}

.main{
    background-color: #171E31;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    height: 79vh;
    margin-left: 200px;
}



#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #d4b112; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}
 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}

#container-interface{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 220px;
}

#interface{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#titulo{
    font-weight: bold;
    color: #FFF;
}

.inputs{
    margin-top: 20px;
}


.resultado{
    color: #FFF;
    margin-top: 20px;
    font-size: 20px;
}


select{
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

input[type="number"]{
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

button{
    outline: none;
    border: none;
    padding: 10px 20px;
    background: #f3cf34;
    color: #292f45;
    font-weight: bold;
    border-radius: 10px;
}

/* MEDIA QUERIES */

/* MEDIAS QUERIES */

@media (max-width: 800px) {
    header{
        margin: 10px;
    }

    #container-interface{
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }

    #interface .inputs{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    #interface .inputs select{
        width: 100%;
    }

    .container-sidebar{
        display: none;
    }

    .main{
        margin: 10px;
        height: 100%;
    }

}

@media (max-width: 400px) {

    #container-interface{
        margin: 5px;
    }
    
    #interface{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    input[type="submit"] {
        border: none;
        font-size: 1em;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: var(--primary-color);
        margin-top: 10px;
        width: 100%;
    }
}