@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=IBM+Plex+Sans:wght@100;400;700&display=swap');

*{
    margin: 0;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-x: hidden;
    background-color: #0B0E11;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.form{
    background-color: rgb(255, 255, 255);
    color: #1E2329;
    padding: 50px;
    border-radius: 20px;
    box-shadow: -4px 4px 25px rgba(255, 255, 255, 0.178);
}

.form h2{
    font-weight: 400;
}

input[type="submit"]{
    outline: none;
    padding: 10px 85px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #1E2329;
    background-color: #F3CF34;
    border: none;
    font-size: 1em;
}

input[type="text"],input[type="password"]{
    padding: 10px 30px;
    border: 1px solid #DDDDDD;
    text-align: center;
    margin: 15px 0px 10px 0px;
    color: #1E2329;
    border-radius: 5px;
}

.sign-in{
    margin-top: 20px;
}

#sign-up{
    padding: 7px;
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    color: #1E2329;
}

.forget_password{
    margin-top: 20px;
}

#reset_password{
    color: #1E2329;
}